#page-landing{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.logo-container img{
    height: 10rem;
    
}
.logo-container{
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container h2{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;

    color: var(--color-text-in-primary);

}

.buttons-container{
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a{
    width: 20rem;
    height: 5rem;
    border-radius: 2rem;
    margin: 2rem;
    font: 700 2.0rem Indie Flower;

    display: flex;
    align-items:  center;
    justify-content:  center;

    text-decoration: none;
    color: var(--color-button-text);

    transition: background-color 0.2s;
}

.buttons-app-container img{
    width: 18rem;
    height: 5rem;
}

.buttons-app-container img{
    
    width: 20rem;
    height: 5rem;
    border-radius: 2rem;
    margin: 2rem;

    display: flex;
    align-items:  center;
    justify-content:  center;
}
.buttons-app-container{
    display: flex;
}

.buttons-container a :first-child{
    margin-right: 1.6rem;
}

.buttons-container a img {
    margin-right: 3rem;
}
.buttons-container a.about{
    background: var(--color-primary-lighter);
}

.buttons-container a.manual{
    background: var(--color-secundary);
}

.buttons-container a.about:hover{
    background: var(--color-primary-light);
}


.buttons-container a.manual:hover{
    background: var(--color-secundary-dark);
}

.buttons-app-container a :first-child{
    margin-right: 1.6rem;
}

.buttons-app-container a img {
    margin-right: 3rem;
}
.buttons-app-container a.apple{
    background: var(--color-primary-lighter);
}

.buttons-app-container a.google{
    background: var(--color-secundary);
}

.buttons-app-container a.apple:hover{
    background: var(--color-primary-light);
}

.buttons-app-container a.googles:hover{
    background: var(--color-secundary-dark);
}

.total-conections{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    justify-content: center;
}

@media (max-width:1100px){
    .logo-container img{
        margin-top: 100px;
        height: 100%;
    }
    .hero{
        display: flex;
        justify-content: space-evenly;
    }
}

@media (min-width:1100px){
    #page-landing-content{
        max-width: 1100px;

        display: grid;
        
        
        grid-template-rows: 350px 1fr;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: 
        "logo hero hero"
        "buttons buttons total"
        ;
    }
    
    .hero{
    grid-area: hero;
    justify-items: center;
}
    .logo-container{
        grid-area:logo ;
        align-self: center;
        margin: 0;
    }
    
    .logo-container h2{
        text-align: initial;
        font-size: 3.6rem;
    }
    
    .logo-container img{
        height:100% ;
    }


    .hero-image{
        margin-top: 7rem;
        margin-left: 10rem;
        justify-self: center;
    }
    
    .buttons-container{
        grid-area:buttons;
        justify-content: flex-start;
    }
    
    .buttons-container a{
        font-size: 2.4rem;
    }
    .buttons-app-container{
        grid-area: buttons;
        display: flex;
    }
    .total-conections{
        grid-area:total;
        justify-self: end;
    }
    

}